/* =========================
   ÁREA DO USUÁRIO
========================= */

.sidebar-bottom {
    padding: 15px;

    flex-shrink: 0;

    border-top: 1px solid #1f2937;
}


/* =========================
   USUÁRIO
========================= */

.user-info {
    display: flex;
    align-items: center;

    gap: 10px;

    margin-bottom: 12px;
}


/* AVATAR */

.user-avatar {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    border-radius: 50%;

    background: #374151;

    font-size: 14px;
    font-weight: 700;
}


/* DADOS */

.user-data {
    min-width: 0;
}

.user-data strong {
    display: block;

    overflow: hidden;

    color: white;

    font-size: 13px;

    text-overflow: ellipsis;

    white-space: nowrap;
}

.user-data span {
    display: block;

    margin-top: 2px;

    color: #9ca3af;

    font-size: 11px;
}


/* =========================
   BOTÃO SAIR
========================= */

.logout-button {
    width: 100%;
    height: 40px;

    border: 1px solid #374151;

    border-radius: 7px;

    background: transparent;

    color: #d1d5db;

    font-size: 13px;

    cursor: pointer;

    transition: 0.2s;
}

.logout-button:hover {
    background: #1f2937;

    color: white;
}