.usuarios-resumo {
  display: grid;
  gap: 16px;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-content);
  border-radius: 15px;
  margin-bottom: 20px;
  justify-content: space-around;
  padding: 20PX;
}

.usuario-card {
  width: fit-content;


  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.usuario-card-label {
  display: block;

  margin-bottom: 7px;

  font-size: 13px;
  color: var(--text-secondary);
}

.usuario-card strong {
  font-size: 25px;
}

.usuario-card-icon {
  width: 42px;
  height: 42px;

  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--accent-bg);

  font-size: 19px;
}